<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="wall.training02.mapper.UserMapper">

	<resultMap id="BaseResultMap" type="wall.training02.entity.User">
		<result column="id" jdbcType="INTEGER" property="id" />
		<result column="userName" jdbcType="VARCHAR" property="userName" />
		<result column="passWord" jdbcType="VARCHAR" property="passWord" />
		<result column="realName" jdbcType="VARCHAR" property="realName" />
	</resultMap>

	<select id="Sel" resultType="wall.training02.entity.User">
		select * from user where id = #{id}
	</select>
	<select id="checkUser" resultType="wall.training02.entity.User">
		SELECT
		*
		FROM
		user
	</select>
	
	<insert id="insertUser" parameterType="wall.training02.entity.User" useGeneratedKeys="true" keyProperty="id">
	INSERT INTO user (id, userName)
	VALUES (#{id}, #{userName})
	</insert>
	
	<insert id="insertUserBatch" parameterType="java.util.List">
	INSERT INTO user (id, userName)
	VALUES 
	<foreach collection="list" item="emp" separator=",">
	(#{emp.id}, #{emp.userName})
	</foreach>
	</insert>
	
	<update id="updateNameById" parameterType="wall.training02.entity.User">
		UPDATE user
		<set>
			<if test="userName != null">userName = #{userName}</if>
		</set>
		WHERE id = #{id}
	</update>
	<delete id="delNameById">
		DELETE FROM user where id = #{id}
	</delete>
</mapper>