<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="wall.training02.mapper.UserMapper">

	<resultMap id="BaseResultMap" type="wall.training02.entity.User">
		<result column="id" jdbcType="INTEGER" property="id" />
		<result column="userName" jdbcType="VARCHAR" property="userName" />
		<result column="passWord" jdbcType="VARCHAR" property="passWord" />
		<result column="realName" jdbcType="VARCHAR" property="realName" />
	</resultMap>

	<select id="Sel" resultType="wall.training02.entity.User">
		select * from user where id = #{id}
	</select>
	<select id="checkUser" resultType="wall.training02.entity.User">
		SELECT
		*
		FROM
		user
	</select>
</mapper>